.root {
  --default-font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: #1a1818;
  font-size: 18px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  color: #1a1818;
  line-height: 1.3;
  text-align: left;
}

.header h1 {
  font-size: 37px;
  overflow-wrap: break-word;
}

h2 {
  font-size: 30px;
  white-space: nowrap;
}
h2 span {
  white-space: pre-wrap;
  word-break: break-word;
}

h1 span {
  color: #91a2b7;
}

ul {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.intro {
  padding-top: 250px;
  margin-left: -80px;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f0ece2;
}

.header p {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.desc p {
  font-size: 18px;
}

.container {
  z-index: 500;
  position: relative;
}

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 5%;
  position: relative;
}

.left-section {
  width: 25%;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: absolute;
}

.content.main-content {
  text-wrap: wrap;
  width: 400px;
  font-size: 18px;
}

nav {
  background: #f0ece2;
  color: #596e79;
  padding: 30px 30px;
  margin-top: 2px;
  line-height: 1;
}
nav a:not(span ul a) {
  text-decoration: none;
  color: #596e79;
  font-weight: 900;
  font-size: 35px;
  transition: all 200ms ease-in-out;
}

nav li:hover {
  color: #91a2b7;
  font-size: 37px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 47px;
  position: relative;
  top: -10px;
}

.navTop a:hover {
  color: #91a2b7;
  font-size: 43px;
}

.navItems {
  position: relative;
  left: 100px;
  font-size: 18px;
  cursor: pointer;
}

.menu-items ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.menu-items li {
  position: relative;
  right: 0px;
  display: inline;
  margin: 0 10px;
  font-weight: 600;
  font-size: 25px;
}

.menu-items li a {
  text-decoration: none;
  color: #596e79;
  transition: all 200ms ease-in-out;
}

.menu-items li a:hover {
  cursor: pointer;
  color: #91a2b7;
  text-decoration: overline;
  font-size: 28px;
}

.images {
  width: 30%;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 10px;
  right: 120px;
}

.images img {
  height: 100%;
  position: absolute;
  left: 43%;
  bottom: 0;
}

.images .shape {
  height: 400px;
  width: 400px;
  top: 100px;
}

.images .myPhoto {
  height: 500px;
  width: 500px;
  left: 45px;
  top: -100px;
}

.images:hover .my-photo {
  right: 48%;
}

.about-section {
  padding-top: 150px;
  background: #f0ece2;
}

#about #skills_section .col-6 {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  #about #skills_section img {
    height: 2.5rem;
  }
}

#about p {
  font-family: var(--default-font-family);
}

#about h2 {
  text-align: center;
}

.widget-wrap {
  border-style: solid;
  border-width: 3px 1.5px;
  border-color: #c6c6c6;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 40px 30px;
}

#portfolio {
  padding-bottom: 60px;
  background: #f0ece2;
}
#portfolio h2 {
  text-align: center;
  padding-bottom: 20px;
}

.project-section {
  padding-top: 250px;
}

#portfolio .project {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 6px #0003;
}

#portfolio .project img {
  display: block;
  width: 100%;
  height: auto;
}

#portfolio .project .details {
  width: 100%;
  height: 100%;
  transition: 0.4s all ease-in-out;
  background-color: #0002;
  color: #feffdf;
  font-weight: 700;
  clip-path: circle(0% at 0 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#portfolio .project:hover .details {
  clip-path: circle(141.1% at 0 0);
}

#portfolio .project .details .technology {
  min-width: 50%;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#portfolio .project .details .technology img {
  width: 2rem;
  display: block;
}

#portfolio .project .details p {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 0;
  margin-bottom: 1rem;
}

#portfolio .project .details .links_project {
  width: 20%;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#portfolio .project .details .links_project a {
  text-decoration: none;
  color: #91a2b7;
}

#portfolio .project .details .links_project a i {
  color: #fff;
  transition: 0.4s all ease-in-out;
}

@media screen and (min-width: 992px) {
  #portfolio .project .details p {
    font-size: 1.5rem;
  }
}

.see-more {
  color: #596e79;
  border-color: #596e79;
  padding: 12px 15px;
  font-size: larger;
  border-radius: 40px;
  margin-bottom: 65px;
}

.see-more:hover {
  background-color: #a5b3c7;
  border-color: #a5b3c7;
}

#contact-me {
  position: fixed;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/383/original/compare-fibre-INNsF0Zz_kQ-unsplash.jpg?1717796361");
}

footer {
  margin: 0;
  background-color: #f0ece2;
}

footer .contact-box {
  background-color: #f0ece2;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .contact-me {
  margin-top: 20px;
}

footer .contact-me span {
  color: #596e79;
  font-weight: 500;
  font-size: 20px;
}

footer .email-link {
  text-decoration: none;
  color: #596e79;
  font-size: 20px;
  font-weight: 500;
}

footer .email-link:hover {
  color: #91a2b7;
}

footer .social-links a {
  margin: 0 20px;
  color: #1a1818;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 30px;
  transition: all 100mms ease-in-out;
}

footer .social-links a:hover {
  color: #596e79;
  background-color: #a5b3c7;
}

footer .open-sourced {
  color: #91a2b7;
}

footer .footer-end-text {
  margin-bottom: 0;
  padding: 50px;
  padding-top: 0;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .product-description {
    padding: 0;
    text-align: center;
  }
}
