.root {
  --default-font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: #1a1818;
  background-color: #f0ece2;
  font-size: 18px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-family: "Rubik", sans-serif;
  color: #1a1818;
}

h1 span {
  color: #596e79;
}

ul {
  margin-bottom: 0;
}

.header p {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.desc p {
  font-size: 18px;
}

.container {
  z-index: 500;
  position: relative;
}

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 5%;
  position: relative;
}

.left-section {
  width: 25%;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: fixed;
}

.content.main-content {
  margin-left: -25%;
  padding-top: -100px;
}

nav {
  background: #f0ece2;
  color: #596e79;
  padding: 30px 30px;
  margin-top: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  line-height: 1;
}
nav a:not(span ul a) {
  text-decoration: none;
  color: #596e79;
  font-weight: 900;
  font-size: larger;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 47px;
}

.navItems {
  position: relative;
  left: 100px;
  font-size: 14px;
  cursor: pointer;
}

.menu-items ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.menu-items li {
  position: relative;
  right: 0px;
  display: inline;
  margin: 0 10px;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
}

.menu-items li a {
  text-decoration: none;
  color: #596e79;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.menu-items li a:hover {
  color: #1a1818;
}
